<div class="container">
    <div #header id="header" class="header">
            <div #nav_container_header class="nav-container-header">
                <a routerLink="/home" routerLinkActive="active">Home</a>
                <!-- <a routerLink="/myWork" routerLinkActive="active">My Work</a> TODO : Add this when something new has been devoloped -->
                <a routerLink="/aboutMe" routerLinkActive="active">About Me</a>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </div>
        <img #profile_image_header src="../../assets/profile_image.jpg" class="profile-image-header">
    </div>
    <div class="blank-space"></div>
</div>