<div class="container">
    <div id="header" class="header">
        <img src="../../assets/profile_cover_image.jpg" class="cover-image-header">
        <img src="../../assets/profile_image.jpg" class="profile-image-header">
        <div class="nav-container-header">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/myWork" routerLinkActive="active">My Work</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
</div>