<div class="container">
    <div  class="about-me">
        
        <h1 class="main_detail_heading">Education</h1>
        <div class="cards_container">
            <div  class="single_card">
                <div class="inner_card">
                    <h1 class="card_detail_heading">College</h1>
                    <p>Institude of Petrochemial Engineering Lonere</p>
                    <p class="year">COMPUTER TY</p>
                </div>
                <div class="status_card">
                    <h1>Current</h1>
                </div>
            </div>
            
            
            <div  class="single_card">
                <div  class="inner_card">
                    <h1 class="card_detail_heading">School</h1>
                    <p>S.S. Nikam English School Lonere</p>
                    <p class="year">Upto 10th</p>
                </div>
                <div class="status_card">
                    <h1>Completed on 2018</h1>
                </div>
            </div>
        </div>
        <h1 class="main_detail_heading" style="margin-top: 130px;">Code I have done</h1>
        <div class="cards_container">
            <div  class="single_card">
                <div class="inner_card" style="height: 410px;">
                    <h1 class="card_detail_heading">Front End</h1>
                    <p>Angular</p>
                    <p>Javascript</p>
                    <p>Html</p>
                    <p>Css</p>
                </div>
                <div class="status_card">
                    <h1>New items soon</h1>
                </div>
            </div>
            
            
            <div  class="single_card">
                <div  class="inner_card" style="height: 410px;">
                    <h1 class="card_detail_heading" >Back End</h1>
                    <p>NodeJS</p>
                    <p>C++</p>
                    <p>C</p>
                    <p>Java</p>
                    <p>Python</p>
                    <p>My Sql</p>
                </div>
                <div class="status_card">
                    <h1>New items soon</h1>
                </div>
            </div>
        </div>
    </div>
</div>