<div class="container">
    <div class="home">
        <h1 class="click-text">Some clicks by me...</h1>
        <div class="image-card-container">
                <img src="../../assets/one_one.jpg" alt="" class="card-single-image">
                <img src="../../assets/one_two.jpg" alt="" class="card-single-image">
                <img src="../../assets/two_one.jpg" alt="" class="card-single-image">
                <img src="../../assets/two_two.jpg" alt="" class="card-single-image">
            <img src="../../assets/two_three.jpg" alt="" class="card-single-image">
        </div>
    </div>
    <br>
    
</div>