<div class="container">
    <div class="home">
        <div class="image-card-row-container">
                <img src="../../assets/one_one.jpg" alt="" class="card-single-image">
                <img src="../../assets/one_two.jpg" alt="" class="card-single-image">
                <img src="../../assets/one_three.jpg" alt="" class="card-single-image">
        </div>
        <div class="image-card-row-container">
            <img src="../../assets/two_one.jpg" alt="" class="card-single-image">
            <img src="../../assets/two_two.jpg" alt="" class="card-single-image">
            <img src="../../assets/two_three.jpg" alt="" class="card-single-image">
        </div>
    </div>
</div>