<div class="container">
    <div class="contact">
        <div class="single_group">
            <h1>Email</h1>
            <div class="contact_card">
                <p class="main_contact_id">ommore501@gmail.com</p>
            </div>
        </div>
        <div class="single_group">
            <h1>Telegram</h1>
            <div class="contact_card">
                <p class="main_contact_id">@testUser123</p>
            </div>
        </div>
        <div class="feedback_group">
            <h1>Leave Feedback</h1>
            <textarea name="feedback"></textarea>
        </div>
    </div>

</div>