<div class="container">
    <div class="contact">

        <div class="single_group">
            <h1>Email</h1>
            <div class="contact_card">
                <p class="main_contact_id">ommore501@gmail.com</p>
            </div>
        </div>
        <div class="single_group">
            <h1>Telegram</h1>
            <div class="contact_card" (click)="redirect('https://t.me/OmMore')">
                <p class="main_contact_id">@OmMore</p>
            </div>
        </div>
        <div class="feedback_group">
            <h1>Leave Feedback</h1>
            <form #formT="ngForm" (ngSubmit)="onSubmit(formT)">
                <textarea required name="feedback" ngModel></textarea>
                <div #success class="success">
                    <p>Thanks for feedback</p>
                </div>
                <div #error class="error">
                    <p>Feedback not send please try later</p>
                </div>
                <button *ngIf="formT.valid && formT.dirty" type="submit">Send</button>
            </form>
        </div>
    </div>

</div>